/* Stylesheet for bio.html */

body {
	font-family: "Open Sans";
	color: white;
	box-sizing: border-box;
}

#left_container, #right_container {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0%;
    overflow: hidden;
}

#right_container {
    left: 50%;
}

#left_container {
    left: 0px;
}

#left_overlay, #right_overlay {
	position: absolute;
    height: 100%;
    width: 100%;
}

#right_overlay {
    background-color: black;
    opacity: .05;
    z-index: 2;
}

#left_overlay {
    background-color: #A84A5C;
    opacity: 1;
    z-index: -1;
}

#wholesome_pic {
    position: absolute;
	left: -50px;
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 70px;
	margin-top: 75px;
}

#bio_p {
	width: 50%;
	margin:auto;
}

a {
	font-family:"Open Sans", sans-serif;
	text-decoration: none;
	color: white;
	position: relative;
	width: 125px;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	border: white solid 4px;
	text-align: center;
	transition: .5s;
}

#resume_link, #index_link {
	font-weight: 700;
	font-size: 20px;
	width: 125px;
	height: 60px;
	display: inline-block;
	margin: 75px -75px;
	margin-left: 150px;
}

a:hover{
	color: gainsboro;
	border-color: gainsboro;
	transition: .5s;
}
